<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>moviemator-pro.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>MovieMator Video Editor Pro, Copyright 2016-2018 effectmatrix inc</string>
	<key>CFBundleSignature</key>
	<string>mmve</string>
	<key>CFBundleExecutable</key>
        <string>MovieMator Video Editor Pro</string>
	<key>CFBundleIdentifier</key>
	<string>com.etinysoft.moviemator-pro</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>2.0.4</string>
	<key>CFBundleName</key>
        <string>MovieMator Video Editor Pro</string>
	<key>CFBundleDisplayName</key>
        <string>MovieMator Video Editor Pro</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.4</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>moviemator.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/mlt+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MovieMator Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
</dict>
</plist>
